<div id="map-tool-fun" [style]="{ right: esri.mapEventName ? 0 : '-300px' }">
  <div class="header">
    <i nz-icon nzType="double-right" nzTheme="outline"></i>
    功能
    <span (click)="closeEvent()" id="close">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </span>
    <!-- <i nz-icon nzType="double-left" nzTheme="outline"></i> -->
  </div>
  <div id="funContent">
    <app-administrative-region-positioning
      *ngIf="esri.mapEventName == 'administrative'"
    ></app-administrative-region-positioning>
  </div>
</div>
